<ion-view view-title="Perfil" ng-controller="HomeCtrl as vm">
  
  <ion-content scroll="false">
  <div class="top">
    <h2>Nexapp <span> </span></h2>
  </div>

  <div class="bottom"  ng-hide="isAuthenticated">
    
     <button class="button button-dark button-block"  ui-sref="app.login">Registrese</button>

      <button class="button button-full button-assertive" ui-sref="app.login">
        Inicie Sesión
      </button>
      <p class="foot-note">&copy: 2017 Nexapp. Todos los derechos reservados</p>

    </div>
    <video autoplay id="video-bg" webkit-playsinline playsinline>
      <source src="vids/bg.mp4" type="video/mp4">
      <source src="vids/bg.webm" type="video/webm">
    </video>

    <div ng-show="isAuthenticated">
      <div class="list card">

        <div class="list card">
        <div class="item item-avatar">
          <img src="{{ vm.profile.picture }}">
          <h2>{{ vm.profile.name }}</h2>
          <span ng-if="vm.profile.country" class="additional-info">Pais: <strong>{{ vm.profile.country }}</strong></span>
        </div>

        <a class="item item-icon-left assertive" ng-click="vm.logout()">
          <i class="icon ion-log-out"></i> Log Out
        </a>

      </div>


    </div>
  			 

   <a class="button button-assertive  button-block" ui-sref="app.insertar">Registra servicio</a>
    <a class="button button-assertive  button-block" ui-sref="app.perfil">Ver perfil</a>

  

  </ion-content>
</ion-view>
