<ion-view view-title="{{loginPg}}">
      <ion-content>
            <h1>{{loginPg}}</h1>

            <form name="formLogin"> 
		<div class="list">

		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="email" placeholder="Email"  name="email" ng-model="email" ng-required="true">
		    <span class="assertive" ng-show="formLogin.email.$invalid && formLogin.email.$dirty">Inicie con un email valido!</span>

		  </label>

		  <label class="item item-input item-floating-label">
		    <span class="input-label">Contraseña</span>
		    <input type="password" placeholder="Contraseña"  name="senha" ng-model="contrasena" ng-required="true">
		    <span class="assertive" ng-show="formLogin.senha.$invalid && formLogin.senha.$dirty">ingrese la contraseña respectiva al email!</span>

		  </label>

		</div>
		</form>
		<button class="button button-full button-assertive" ng-disabled="formLogin.$invalid" ng-click="loginUsuario(login)">Enviar</button>
      </ion-content>
</ion-view>